<%- include('../partials/header') %>

<div class="container">
    <p>
        <span class="red-text text-darken-2"><strong>Step 1: Recipe Description</strong></span> 
        <span class="grey-text">>> Step 2: Add Ingredients >> Step 3: Add instructions</span>
    </p>
    
    <h1>Add a new Recipe</h1>
    <div class="row grey lighten-4 z-depth-0 section">
        <form action="/recipes" class="col s12" method="POST">
            <div class="row">
                
                <div class="input-field col s12">
                    <input placeholder="Tuna Pasta" id="recipe" type="text" class="validate" name="recipe[recipeName]">
                    <label for="recipe">Recipe Name</label>
                </div>

                <div class="input-field col s6">
                    <input id="servings" type="number" class="validate" name="recipe[servings]">
                    <label for="servings">Servings</label>
                </div>

                <div class="input-field col s6">
                    <input id="prep-time" type="number" class="validate" name="recipe[prepTime]">
                    <label for="prep-time">Prep Time (minutes)</label>
                </div>

                <div class="input-field col s12">
                    <textarea id="textarea1" class="materialize-textarea" name="recipe[description]" required>Tell us about your recipe...</textarea>
                    <label for="textarea1">Recipe Description</label>
                </div>

                <div class="input-field col s12">
                    <input placeholder="Paste Image URL Here..." id="image" type="text" class="validate" name="recipe[imageURL]">
                    <label for="image">Image</label>
                </div>

                
            </div>
            <button class="btn z-depth-0 grey darken-4 waves-effect waves-light" type="submit">Submit
                <i class="material-icons right">send</i>
            </button>
        </form>
    </div>
</div>


<%- include('../partials/footer') %>